header.header
  .container
    .header__inner
      .header__burger 
        span.header__burger-item 
      a.header__logo(href="#") 
        img.header__logo-img(src=require("images/logo.png") alt="Logo")
      ul.header__share 
        li.header__share-item 
          a.header__share-link(href="#")
            span.header__share-img.header__share-img--rss
        li.header__share-item 
          a.header__share-link(href="#")
            span.header__share-img.header__share-img--twitter
        li.header__share-item 
          a.header__share-link(href="#")
            span.header__share-img.header__share-img--tumbler
        li.header__share-item 
          a.header__share-link(href="#")
            span.header__share-img.header__share-img--facebook
        li.header__share-item 
          a.header__share-link(href="#")
            span.header__share-img.header__share-img--search
