.grid
  .container
    .grid__cards
      .grid__card.grid__card--one
        img.grid__card-img(src="images/edit-icon.svg", alt="Edit icon")
        span.grid__card-subtitle Travelling
        span.grid__card-title Travel besT Adventure
        span.grid__card-date January 25, 2016
        p.grid__card-text 
          | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
          | tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations 
          | ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
        a.grid__card-link(href="#") Read More
        .grid__card-bottom 
          .grid__card-comments 
            img.grid__card-comments__img(src="images/comments-icon.svg", alt="Comments icon")
            span.grid__card-comments__text No Comment
          .grid__card-sharing 
            a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#") 
      .grid__card.grid__card--two
        img.grid__card-img(src="images/picture-icon.svg", alt="Edit icon")
        span.grid__card-subtitle Travelling
        span.grid__card-title Standard Image Post 
        span.grid__card-date January 25, 2016
        a.grid__card-link(href="#") Read More
        .grid__card-bottom 
          .grid__card-comments 
            img.grid__card-comments__img(src="images/comments-icon.svg", alt="Comments icon")
            span.grid__card-comments__text 06 Comment
          .grid__card-sharing 
            a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--three
        img.grid__card-img(src="images/edit-icon.svg", alt="Edit icon")
        span.grid__card-subtitle Travelling
        span.grid__card-title Travel besT Adventure
        span.grid__card-date January 25, 2016
        p.grid__card-text 
          | Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod 
          | tehampor choice is the have great work.
        a.grid__card-link(href="#") Read More
        .grid__card-bottom 
          .grid__card-comments 
            img.grid__card-comments__img(src="images/comments-icon.svg", alt="Comments icon")
            span.grid__card-comments__text No Comment
          .grid__card-sharing 
            a.grid__card-sharing__link.grid__card-sharing__link--ball(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--facebook(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--twitter(href="#") 
            a.grid__card-sharing__link.grid__card-sharing__link--pinterest(href="#")
      .grid__card.grid__card--four
      .grid__card.grid__card--five
      .grid__card.grid__card--six
        img.grid__card-img(src="images/square-icon.svg", alt="Edit icon")
        p.grid__card-text 
          | As per Lorm ipsum dolor sitamet, consectetur adipisicing elits, sed do 
          | Now eiusmod tempor havei ut labores et dolore magna aliqusa. Ut wenim ad minim 
          | veniam, quis its a snostrud now is the ullamco aliquip ex ea commodo.
        a.grid__card-account(href="#") Nathalia Alexy
        


