section.signup  
  .container 
    .signup__content 
      span.signup__title Signup to Newsletter
      form.signup__form(action="#") 
        input.signup__form-input(type="text", placeholder="Your Name")
        input.signup__form-input(type="text", placeholder="Your Email Address")
        button.signup__form-submit(type="submit") Subscribe Now
