extends /layout/app

block content
  .intro
    .intro__container.container.swiper-container
      .intro__cards.swiper-wrapper
        .swiper-slide
          .intro__card
            span.intro__subtitle Latest News
            h1.intro__title BodyBuilding best for you health
        .swiper-slide
          .intro__card
            span.intro__subtitle Latest News
            h1.intro__title BodyBuilding best for you health
        .swiper-slide
          .intro__card
            span.intro__subtitle Latest News
            h1.intro__title BodyBuilding best for you health
      .swiper-pagination
      .swiper-button-prev
        img.swiper-button-prev-img(src="images/prev-button.svg", alt="Button prev")
      .swiper-button-next
        img.swiper-button-next-img(src="images/next-button.svg", alt="Button next")
