section.intro
  .intro__container.container.swiper-container
    .intro__cards.swiper-wrapper
      .swiper-slide(data-caption="Featured Article")
        .intro__card
          span.intro__subtitle Latest News
          h1.intro__title BodyBuilding best for you health
      .swiper-slide(data-caption="Featured Article")
        .intro__card
          span.intro__subtitle Latest News
          h1.intro__title BodyBuilding best for you health
      .swiper-slide(data-caption="Featured Article")
        .intro__card
          span.intro__subtitle Latest News
          h1.intro__title BodyBuilding best for you health
    .swiper-navigation
      .swiper-pagination  
      .swiper-navigation__container
        .swiper-button-prev
          img.swiper-button-prev-img(src=require("images/prev-button.svg") alt="Button prev")
        .swiper-caption
        .swiper-button-next
          img.swiper-button-next-img(src=require("images/next-button.svg") alt="Button next")