footer.footer 
  .container 
    .footer__content 
      .footer__about 
        span.footer__about-title.footer__title About Blog
        p.footer__about-text 
          | Lorem ipsum dolor sit amet, conser adipisicing  
          | esse cillum dolore nulla pariatur. 
        img.footer__about-img(src="images/footer-about.png", alt="Footer about")
      .footer__tweets 
        span.footer__tweets-title.footer__title latest tweets
        span.footer__tweets-nickname @Twitter@magicalrebekah
        p.footer__tweets-text 
          | Developer Advocate @heyval isaiyou knows the very well 
          | is about things .
        span.footer__tweets-nickname @Twitter@magicalrebekah
        p.footer__tweets-text 
          | Developer Advocate hav a great work this knows the very 
          | well is about things .
      .footer__instagram 
        span.footer__instagram-title.footer__title Follow me instagram
        .footer__instagram-images 
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
          img.footer__instagram-img(src="images/footer-instagram.png", alt="Footer instagram")
      .footer__comment 
        span.footer__comment-title.footer__title latest comment
        span.footer__comment-from From Alex :
        p.footer__comment-text 
          | Developer Advocate @heyval isaiyou know the very well is talking about things.
        span.footer__comment-from From Jhon Doe :
        p.footer__comment-text 
          | Developer Advocate @heyval isaiyou know the very well is talking about things.
  .footer__bottom 
    a.footer__bottom-copyright(href="#") @2015 copyright .all right reserved by awesome theme  
    a.footer__bottom-policy(href="#") terms policy
    a.footer__bottom-disclaimer(href="#") disclaimer



