.footer
  flex-grow: 0
  flex-shrink: 0
  flex-basis: auto
  background-color: #212429
  padding-top: 59px

  +max-w($mobile)
    padding-top: 50px

.footer__content
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  gap: 0 30px
  padding-bottom: 62px

  +max-w($laptop_md)
    gap: 30px 30px

  +max-w($mobile)
    grid-template-columns: 1fr
    padding-right: 10px
    padding-left: 10px

.footer__about
  max-width: 390px
  margin-right: 30px

.footer__title
  display: block
  margin-bottom: 39px
  color: #f9f9fb
  font-size: 16px
  font-weight: $font-weight-bold
  line-height: 1.75
  text-transform: uppercase
  letter-spacing: 0.96px

  +max-w($mobile)
    margin-bottom: 20px

.footer__about-text
  margin-bottom: 11px
  color: #f9f9fb
  font-size: 15px
  font-weight: $font-weight-light
  line-height: 1.85
  letter-spacing: 1.5px

.footer__tweets
  margin-right: 30px

.footer__tweets-nickname
  position: relative
  display: block
  margin-bottom: 19px
  color: #fff
  font-size: 14px
  font-weight: $font-weight-light
  letter-spacing: 1.4px

  &::before
    content: "\ea96"
    position: absolute
    left: -20px
    color: #f9f9fb
    font-family: 'FontAwesome'

.footer__tweets-text
  max-width: 339px
  margin-bottom: 36px
  margin-left: 0
  color: #ffffff
  font-size: 15px
  font-weight: $font-weight-light
  line-height: 1.85
  letter-spacing: 1.5px

  &:last-child
    margin-bottom: 0

.footer__instagram
  margin-right: 30px

.footer__instagram-images
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 2px

.footer__instagram-img
  width: 100%

.footer__comment 
  max-width: 363px

.footer__comment-from
  display: block
  margin-bottom: 22px
  color: #fff
  font-family: "Open Sans"
  font-size: 14px
  font-weight: $font-weight-light
  line-height: 1.7
  letter-spacing: 1.4px

.footer__comment-text
  padding-bottom: 28px
  margin-bottom: 29px
  border-bottom: 1px solid #cccccc
  color: #fff
  font-family: "Open Sans"
  font-size: 14px
  font-weight: 300
  line-height: 1.7
  letter-spacing: 1.4px

  &:last-child
    margin-bottom: 0
    padding-bottom: 0
    border: none

.footer__bottom
  display: flex
  justify-content: center
  padding: 15px 0
  background-color: #17191c

  +max-w($mobile)
    flex-direction: column
    align-items: center

.footer__bottom-copyright
  position: relative
  padding-right: 17px
  opacity: 0.4
  color: #ffffff
  font-size: 14px
  font-weight: $font-weight-light
  line-height: 1.7
  letter-spacing: 1.4px
  text-transform: uppercase
  text-decoration: none
  
  &::after
    content: ""
    position: absolute
    top: 3px
    right: 0
    height: 60%
    width: 2px
    background-color: #fff
    
    +max-w($mobile)
      display: none

  +max-w($mobile)
    margin-bottom: 15px
    padding-right: 0
    font-size: 12px
    text-align: center

.footer__bottom-policy
  position: relative
  padding-right: 17px
  padding-left: 17px
  opacity: 0.4
  color: #ffffff
  font-size: 14px
  font-weight: $font-weight-light
  line-height: 1.7
  letter-spacing: 1.4px
  text-transform: uppercase
  text-decoration: none
  
  &::after
    content: ""
    position: absolute
    top: 3px
    right: 0
    height: 60%
    width: 2px
    background-color: #fff

    +max-w($mobile)
      display: none

  +max-w($mobile)
    margin-bottom: 15px
    padding-right: 0
    padding-left: 0
    font-size: 12px

.footer__bottom-disclaimer
  position: relative
  padding-left: 17px
  opacity: 0.4
  color: #ffffff
  font-size: 14px
  font-weight: $font-weight-light
  line-height: 1.7
  letter-spacing: 1.4px
  text-transform: uppercase
  text-decoration: none
  
  +max-w($mobile)
    padding-right: 0
    font-size: 12px